<div class="container">
  <div class="callout large column background1">
  <div class="row foreground">
      <div class="title">  
        <h1>LIP SYNC BATTLE</h1>
      </div>
      <h6 class="subtitle"> THE CHAPEL • FEBURARY 12th • 7PM </h6>
  </div>    
  </div>
  <!-- <p class="lead">If you come and sing, all of your wildest dreams will come true.</p> -->
</div>

 
<!-- <div class="row text-center">
  <hr>
    <span class="small-4 column"><div class="counter"><h3><%= @singing_guests.count %></h3>Groups Performing</div></span>
    <span class="small-4 column"><div class="counter"><h3><%= @singing_guests.count %></h3>Songs Being Sung</div></span>
    <span class="small-4 column"><div class="counter"><h3><%= @helping_guests.count %></h3>People Helping</div></span>
</div>
    <br> -->

<div class="callout large column background2">
  <div class="container">
    <div class="rules large-offset-3 columns">
    <h3>RULES</h3>
    <ul>
      <li>1 &frac12; MINUTES MAX</li>
      <li>MUST BE APPROPRIATE</li>
      <li>GROUP PERFORMANCE ENCOURAGED</li>
    </ul>  
  <!-- </div>
    <div class="judged-on large-offset-3 columns"> -->
      <h3>JUDGED ON</h3>
      <ul>
        <li>COSTUMES</li>
        <li>GROUP UNITY</li>
        <li>STAGE PRESENCE</li>
      </ul>  
    </div> 
  </div> 
</div>
<div class="seperator"></div>
<hr><br>
<div class="row">
 <div class="large-4 columns panel">
  <%= form_for @new_guest do |f| %>
    <h5>Your Name(s)</h5>
    <%= f.text_field :name%>
    <h5>What song will you sing?</h5>
    <%= f.text_field :song %>
    <h5>You're Included!</h5> <h6>If you can bring any food, type it here (seperated by commas).</h6>
    <%= f.text_area :item_bringing %>
    <%= f.submit "I'm Coming!", class: 'small button' %>
  <% end %>  
</div>
  <h4 class="large-3 columns set-title">Set List</h4>
<div class="large-6 columns">
  <table summary="Setlist">
      <thead>
      <tr class="table-title">
      </tr>  
      <tr>
        <th>Name</th>
        <th>Performing</th>
      </tr>
    </thead>
    <tbody>
      <% @singing_guests.each do |guest| %>
        <tr>
          <td><%= guest.name %></td>
          <td><%= guest.song %></td>
        </tr>  
      <% end %>
    </tbody>

  </table>  
</div>
</div>



<div class="row">
  <div class="large-6columns">
    <h4>People Helping Out</h4> 
    <table summary="helpers">
      <thead>
        <tr class="table-title">
        </tr>
        <tr>
          <th>Name</th>
          <th>Item(s) bringing<th>
        </tr>  
      </thead>
      <tbody>
        <% @helping_guests.each do |guest| %>
          <td><%= guest.name %></td>
          <td><%= guest.item_bringing %></td>
        <% end %>
      </tbody>
    </table>  
  </div>
</div>
  


<br>
<hr>
<br>