<div class="callout large column">
  <div class="row callout">
  <h1>Lip Sync Night</h1>
  <p class="lead">If you come and sing, all of your wildest dreams will come true.</p>

</div>
<hr>
</div>
<div class="row">
 <div class="large-4 columns panel">
  <%= form_for @new_guest do |f| %>
    <h4>Your Name(s)</h4>
    <%= f.text_field :name%>
    <h4>What song will you sing?</h4>
    <%= f.text_field :song %>
    <h4>You're Included!</h4> <h5>If you can bring any food, type it here (seperated by commas).</h5>
    <%= f.text_area :item_bringing %>
    <%= f.submit "I'm Coming!", class: 'small button' %>
  <% end %>  
</div>
<div class="large-8 columns">
  <%= image_tag('IMG_6440.JPG') %>
</div>


<hr> 
<div class="row large-offset-3 columns text-center">
    <span class="small-4 column"><h3><%= @guests.count %></h3>People Coming</span>
    <span class="small-4 column"><h3><%= @singing_guests.count %></h3>Songs Being Sung</span>
    <span class="small-4 column"><h3><%= @helping_guests.count %></h3>People Helping</span>
</div>
    <br>
<hr>

<div class="row">
  <div>
  <h4 class="large-6 columns">People Helping Out</h4> 
  <h4 class="large-6 columns">SetList</h4>
</div>
<div class="large-6 columns">
  <table summary="helpers">
    <thead>
      <tr class="table-title">
      </tr>
      <tr>
        <th>Name</th>
        <th>Item(s) bringing<th>
      </tr>  
    </thead>
    <tbody>
      <% @helping_guests.each do |guest| %>
        <td><%= guest.name %></td>
        <td><%= guest.item_bringing %></td>
      <% end %>
    </tbody>
  </table>  
</div>
<div class="large-6 columns">
  <table summary="Setlist">
      <thead>
      <tr class="table-title">
      </tr>  
      <tr>
        <th>Name</th>
        <th>Performing</th>
      </tr>
    </thead>
    <tbody>
      <% @singing_guests.each do |guest| %>
        <tr>
          <td><%= guest.name %></td>
          <td><%= guest.song %></td>
        </tr>  
      <% end %>
    </tbody>

  </table>  
</div>
  

</div>